$color1: #34353a;
$color2: #2e2f34;
$color3: rgb(88, 87, 87);
$rose: #FDE2DB;
$red: #C81D2F;
$blue: #487A9B;
$midnight: #282F37;
$stelar: #FBFAF8;
$colorTxt: #ffffff;

*,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color1;
  color: $colorTxt;
}

.Header {
  height: 10vh;
  border-bottom: 1px dashed $color3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  width: 50px;
  height: 50px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 0 0.5rem;
  cursor: pointer;
  border-bottom: 1px dashed transparent;

  &:hover {
    transition: 0.5s;
    border-color: gray;
  }
}
.icons{
  width: 3.5vw;
  height: 3.5vh;
}
.itemPresentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 98vw;
  height: 100vh;
  border-bottom: 1px dashed $color3;
}

.itemPresentation div {
  width: 45%;
  height: 60vh;
  margin: 10vh 2vw;
  // border: 1px solid gray;
}

#presentation_right {
  animation: 2s showR;
}

#presentation_left {
  animation: 2s showL;
}

.itemPresentation div,
.showMore,
.info,
.description,
.description p,
.chosen,
.products_chosen,
.products_chosen div,
.product, .Footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#i_cover {
  height: 50vh;
}

.desc {
  flex-direction: column;
  font-size: 1.5rem;
}

.desc span {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
}

.showMore {
  position: absolute;
  bottom: -5px;
  font-size: 2rem;
  animation: infinite 2s pulse;
}

.info {
  width: 98vw;
  height: 100vh;
  border-bottom: 1px dashed $color3;
  justify-content: space-around;
}

.description p {
  width: 10vw;
  height: 20vh;
  margin: 1vh 16px;
  border: 1px solid $color3;
  border-radius: .5rem;
}

.info_desc {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

#image_info {
  width: 40vw;
  height: 70vh;
}

.icon {
  width: 50%;
  height: 50%;
}

.description {
  flex-direction: column;
}

.chosen {
  width: 98vw;
  height: 100vh;
  flex-direction: column;
}

.product {
  width: 40vw;
  height: 60vh;
  border: 1px solid $color3;
  border-radius: 1rem;
  background-color: rgb(252, 229, 229);
}

.product img {
  height: 100%;
  width: 100%;
}
#img{
  transition: 3s;
  transform: scale(1.1);
}
.products_chosen div {
  border: 1px solid gray;
  margin: .5rem;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  transition: .5s;
}

.show {
  animation: 2s show;
}
#blue {
  background-color: $blue;
}

#red {
  background-color: $red;
}

#rose {
  background-color: $rose;
  color: $color2;
}

#stelar {
  background-color: $stelar;
  color: $color2;
}

#midnight {
  background-color: $midnight;
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes showL {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes showR {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.Footer{
  width: 100%;
  height: 20vh;
  border-top: 1px solid $color3;
  background-color: black;
  justify-content: space-around;
}
.icons_footer{
  width: 5vw;
  height: 5vh;
}
a{
  text-decoration: none;
  color: $colorTxt;
}

@media(max-width:600px){
  .description span{
    font-size: .6rem;
  }
  .description p{
    width: 15vw;
  }
  #image_info{
    width: 50vw;
    height: 60vw;
  }
  .product img {
    height: 50%;
    width: 100%;
  }
  .product {
    width: 80vw;
  }
  .Footer p{
    font-size: 1rem;
    text-align: center;
  }
  .Footer{
    flex-direction: column;
  }
  .icons_footer{
    width: 10vw;
    height: 6vh;
    margin: 0 16px;
}
#i_cover {
  height: 40vh;
  width: 40vw;
}
#presentation_right span{
  font-size: 1rem;
}
.icons{
  width: 9vw;
  height: 9vh;
}
}